/* global.css */

:root {
    --primary-color: #007BFF;
    --secondary-color: #28A745;
    --gray: #6C757D;
    --light-gray: #F8F9FA;
    --dark-gray: #343A40;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  